body{

    
}
#wrapper-shop{
    width: 100%;
    height: 50vh;
    background-image: url(images/IMG_0292.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
}
#container{
    min-height: 80vh;
    width: 1000px;
    margin: auto;
    padding: 30px 0px;
    position: relative;
    z-index: 2;
}
.item-box-shop{
    width: 220px;
    border: 2px solid lightgray;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
    float: left;
    background-color: rgba(255,255,255,0.7);
}
.item-box-shop:hover{
    cursor: pointer;
    transform: scale(1.05);
    
}
.item-box-shop:hover .item-image-shop{
    object-fit: scale-down;
}
.item-image-shop{
    width: 100%;
    height: 220px;
    object-fit: cover;
    padding-bottom: 7px;
    transition: 1s ease-in-out;
    
}

.item-box-shop h2{
    font-weight: 600;
    font-size: 20px;
    margin: 2px;
}
.item-box-shop h3{
    font-weight: 300;
    font-size: 16px;
    margin: 2px;
}
.item-box-shop h4{
    font-weight: 100;
    font-size: 10px;
    margin: 2px;
}
.price-shop{
    text-align: right;
    margin-top: -5px;
    font-weight: 600;
}