
#add-button-item{
    padding: 20px;
    background-color: black;
    color: #FFF;
    width: 250px;
    text-align: center;
}
.aspect-ratio-box {
    position: relative;
    margin-bottom: 20px;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box::after {
    display: block;
    content: '';
    /* 16:9 aspect ratio */
    padding-bottom: 100%;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.aspect-ratio-box img:hover{
    object-fit: scale-down;
    background-color: #c5cbc5;

}




