body{
    margin: 0px;
    font-family: 'Roboto', arial;
}
a{
    text-decoration: none;
    color: black;
}
#navbar{
    background-color: black !important;
}
.wrapper{
    padding: 40px 0px;
}
@media (max-width: 575.98px) {
    .wrapper{
        padding: 20px 0px;
    }
    #add-button-item{
        margin: auto;
    }
    #footer{
        text-align: center;
    }
    .footer-header-website{
        border-top: 1px dashed grey;
    }


}
.navbar-toggler{
    background-size: #FFF !important;
}

#navbar .nav-link{
    color: #FFF;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}
.space{
    margin: 50px 0px;
}
.logo-text-website{

    color: #FFF;
    text-transform: uppercase;
    text-shadow: 4px 2px 4px #33FFFF, -3px -3px 4px#FF0066;


}
.logo-text-website:nth-child(1){
    font-weight: 100;
    font-size: 18px;
}
.logo-text-website:nth-child(2){
    font-weight: 700;
    font-size: 20px;

}
.carousel-item img{
    height: 60vh;
    object-fit: cover;

}

.image-box-website{
    width: 300px;
    margin: 5px;
    float: left;
}
.image-website{
    width: 100%;
    height: 300px;
    object-fit:cover;
    padding-bottom: 7px;
}
.h2-text-website{
    font-weight: 200;
    letter-spacing: 2px;
    padding: 20px 10px;
}
.image-name{
    padding: 10px 0px;
    color: #263238;
    text-align: center;
}
.image-name:after{
    content: '”'
}
.image-name:before{
    content: '„'
}

#footer{
    width: 100%;
    background-color: #000;
    padding: 50px 0px;
}
.footer-header-website{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    color: #FFF;
    padding: 10px 0px;
}
.footer-box-website{
    float: left;
    width: 250px;
}
.footer-buttons-website{
    color: #FFF;
    padding: 2px 0px;
    text-transform: uppercase;
    font-size: 14px;
}
.footer-text-website{
    color: #FFF;
    padding-top: 20px;

}