body{
    margin: 0px;
    font-family: 'Roboto', arial;
}
a{
    text-decoration: none;
    color: black;
}
#header-website{
    padding: 8px;
    background-color: black;
}
.center-website{
    width: 1000px;
    margin: auto;
}
.logo-website{

}
.logo-image-website{
    color: #008080;
    font-size: 35px;
    display: block;
    float: left;
    transform: rotate(15deg);
}
.logo-textbox-website{
    float: left;
     
}
.logo-text-website{
    
    color: #FFF;
    text-transform: uppercase;
    text-shadow: 4px 2px 4px #33FFFF, -3px -3px 4px#FF0066;
   
    
}
.logo-text-website:nth-child(1){
    font-weight: 100;
    font-size: 18px;
}
.logo-text-website:nth-child(2){
    font-weight: 700;
    font-size: 20px;
    
}
#nav-website{
    color: #FFF;
    float: right;
}
.button-nav-website{
    float: left;
    margin-top: 8px;
    padding: 10px 10px 0px 10px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5)
}
.button-nav-website a{
    color: #FFF;
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
}
.button-nav-website a:hover{
    color: gray;
}
.button-nav-website:last-child{
    position: relative;
    font-size: 22px;
    margin-top: -1px;
}
.basket-dot-website{
    position: absolute;
    background-color: indianred;
    text-align: center;
    border-radius: 100%;
    font-size: 10px;
    width: 15px;
    right: 0px;
    bottom: 0px;
    
}
#banner-website{
    width: 100%;
    height: 60vh;
    background-image: url(../img/IMG_0292.JPG);
    background-position: center top; 
    background-repeat: no-repeat;
    background-size: cover;

}
#images-website{
    width: 1000px;
    margin: auto;
}
.image-box-website{
    width: 300px;
    margin: 5px;
    float: left;
}
.image-website{
    width: 100%;
    height: 300px;
    object-fit:cover;
    padding-bottom: 7px;
}
.h2-text-website{
    width: 800px;
    font-weight: 200;
    letter-spacing: 2px;
    padding: 20px 10px;
}
.h3-text-website{
    padding: 0px 10px;
    color: #263238;
}
.h3-text-website:after{
    content: '”'
}
.h3-text-website:before{
    content: '„'
}
#artists-website{
    width: 100%;
    padding: 50px 0px;
    background-color: #008080;
}
.h1-arts-website{
    color: #FFF;
    font-size: 38px;
    text-transform: uppercase;
    display: block;
}
.arts-box-website{
    float: left;
    padding: 5px;
    width: 240px;  
}
.image-artists-website{
    object-fit:cover;
    width: 240px;
    height: 240px;
}
.h3-arts-website{
    color: #FFF;
}
.h4-arts-website{
    color: #FFF;
    font-weight: 300;
}
#footer{
    width: 100%;
    background-color: #000;
    padding: 50px 0px;
}
.footer-header-website{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 3px;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
    color: #FFF;
    padding: 10px 0px;
}
.footer-box-website{
    float: left;
    width: 250px;
}
.footer-buttons-website{
    color: #FFF;
    padding: 2px 0px;
    text-transform: uppercase;
    font-size: 14px;
}
.footer-text-website{
    color: #FFF;
    padding-top: 20px;
    
}